<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
  <body>
    <%- include('./partials/header.ejs') %> 

    <div class="container home">
        <div class="title-group">
            <h1 class="header-title">We Craft Coffee</h1>
            <h2 class="sub-title">Block by Block</h2>
            <h4><a href="/menu"> <span>Our Menu</span>  <i class="fas fa-chevron-right"></i></a></h4>
        </div>

        <img src="images\person-coffee.svg" alt="">
    </div>
  </body>
</html>
