<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>

    <div class="container">
      <img src="images/logo.svg" alt="" width="400px" />
    </div>
  </body>
</html>
